@model BizSapam.ViewModels.ProductIpagedList

@{
    ViewBag.Title = "ManageProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using PagedList.Mvc;
@using PagedList;

<head>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title" style="text-align:right; font-family:IRANSans;">اطلاعات محصول</h4>
            </div>
            <div class="content">
                @using (Html.BeginForm("AddProduct", "Admin"))
                {
                    <div class="row">
                        <div class="col-md-4" style="width:50%; float:right;">
                            <div class="form-group">
                                <label for="exampleInputEmail1" style="float:right; font-family:IRANSans">نام محصول</label>
                                @*<input type="email" class="form-control" placeholder="نام" style="text-align:right; font-family:IRANSans;">*@
                                @Html.TextBoxFor(m => m.Products.ProductName, new { @class = "form-control", @placeholder = "نام", @style = "text-align:right; font-family:IRANSans;" })
                            </div>
                        </div>
                        <div class="col-md-5" style="width:25%; float:right;">
                            <div class="form-group">

                                <label style="float:right; font-family:IRANSans;">قیمت محصول</label>
                                @*<input type="text" class="form-control" placeholder="قیمت" value=""  style="text-align:right; font-family:IRANSans;">*@
                                @Html.TextBoxFor(m => m.Products.Price, new { @class = "form-control", @placeholder = "قیمت", @style = "text-align:right; font-family:IRANSans;" })
                            </div>
                        </div>
                        <div class="col-md-3" style="width:25%; float:right;">
                            <div class="form-group">
                                <label style="float:right; font-family:IRANSans">کد محصول</label>
                                @*<input type="text" class="form-control" placeholder="بارکد" value="" style="text-align:right; font-family:IRANSans;">*@
                                @Html.TextBoxFor(m => m.Products.Barcode, new { @class = "form-control", @placeholder = "بارکد", @style = "text-align:right; font-family:IRANSans;" })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6" style="width:15%; float:right;">
                            <div class="form-group">
                                <label style="float:right; font-family:IRANSans;">تعداد</label>
                                @*<input type="text" class="form-control" placeholder="تعداد" value="" style="text-align:right; font-family:IRANSans;">*@
                                @Html.TextBoxFor(m => m.Products.Qty, new { @class = "form-control", @placeholder = "تعداد", @style = "text-align:right; font-family:IRANSans;" })
                            </div>
                        </div>
                        <div class="col-md-6" style="width:85%; float:right;">
                            <div class="form-group">
                                <label style="float:right; font-family:IRANSans;">توضیحات</label>
                                @*<input type="text" class="form-control" placeholder="توضیحات" value="" style="text-align:right; font-family:IRANSans;">*@
                                @Html.TextBoxFor(m => m.Products.Description, new { @class = "form-control", @placeholder = "توضیحات", @style = "text-align:right; font-family:IRANSans;" })
                            </div>
                        </div>

                    </div>

                    @Html.HiddenFor(m => m.Products.Id)

                    <button type="submit" class="btn btn-info btn-fill pull-right" style="float:left !important; font-family:IRANSans;">ثبت</button>
                    <div class="clearfix"></div>
                }
            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header" style="text-align:right;">
                <h4 class="title" style="font-family:IRANSans;">لیست محصولات</h4>
                @*<p class="category">Here is a subtitle for this table</p>*@
            </div>
            <div class="form-inline md-form mr-auto mb-4">

                <button onclick="SearchFunction()" class="btn btn-elegant btn-rounded btn-sm my-0" type="submit" style="font-family:IRANSans;">جستجو</button>
                <input id="txtSearch" class="form-control mr-sm-2" type="text" placeholder="نام محصول" aria-label="Search" style="width:300px; font-family:IRANSans; text-align:right; direction:rtl;">

            </div>
            <div class="content table-responsive table-full-width" style="direction:rtl;">
                <table class="table table-hover table-striped" style="font-family:IRANSans;">
                    <thead>
                        <tr>
                            <th style="text-align:right; padding-right:20px; width:150px;">کد</th>
                            <th style="text-align:right;">نام محصول</th>
                            <th style="text-align:right; width:150px;">قیمت</th>
                            <th style="text-align:right; width:150px;">تعداد</th>
                            <th style="text-align:right;">توضیحات</th>
                            <th style=" width:150px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.IpagedListProduct)
                        {
                            <tr>

                                <td style="font-family:'B Koodak'; padding-right:20px;">@Html.DisplayFor(m => product.Barcode)</td>
                                <td style="font-family:'B Koodak'">@Html.DisplayFor(m => product.ProductName)</td>
                                <td style="font-family:'B Koodak'">@Html.DisplayFor(m => product.Price)</td>
                                <td style="font-family:'B Koodak'">@Html.DisplayFor(m => product.Qty)</td>
                                <td style="font-family:'B Koodak'">@Html.DisplayFor(m => product.Description)</td>
                                <td>
                                    <i onclick="DeleteProduct(@product.Id)" class="pe-7s-trash" style="font-size:20px; color:red;"></i>
                                    <i onclick="window.open('http://bizsapam.ir/Admin/EditProduct/'+@product.Id ,'_self')" class="pe-7s-note" style="font-size:20px; color:dodgerblue;"></i>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model.IpagedListProduct, i => Url.Action("ManageProduct", "Admin", new { i, search = Request.QueryString["search"] }))

            </div>
        </div>
    </div>



</div>
<script>
    function SearchFunction() {
        
        var Search = document.getElementById("txtSearch").value;
        window.open("http://bizsapam.ir/Admin/ManageProduct?search=" + Search, "_self");

    }

    function DeleteProduct(id) {
        var r = confirm("این محصول را حذف می کنید؟");
        if (r == true) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteProduct", "Admin")',
                data: { ProductId: id },
                success: function (response) {
                    if (response == "Successful")
                        alert("این محصول با موفقیت حذف شد");
                    location.reload();
                }
            });
        }
    }



</script>
